.programs__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.programs__wrapper h2 {
  color: #316DC2;
  @include h2;
}

.programs {
  background-color: #F0EFE9;
}
